  <div class="jumbotron">
    <h1 class="title">Future100 Offer</h1>
    <p class="slogan">Future100 Offer 是一个为您提供未来、更好工作机会的求职网站。
    <br>
    我们希望藉由这个网站，助您找到且应征上高薪优质的工作，为您提供一个通向更好未来的专业跑道。
    <br>
     换条人生跑道，拥抱更好未来！
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>云南省昆明市金鹰大厦A座</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@future100offer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>0871-12345678</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
